<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="inChat.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <inChat.My.MySettings>
            <setting name="recent_school" serializeAs="String">
                <value/>
            </setting>
            <setting name="recent_grade" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="recent_class" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="recent_name" serializeAs="String">
                <value/>
            </setting>
            <setting name="recent_code" serializeAs="String">
                <value/>
            </setting>
            <setting name="saveclass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="savecode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="recent_nick" serializeAs="String">
                <value/>
            </setting>
            <setting name="warnshow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="opacity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="norecord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="last_chattitle" serializeAs="String">
                <value/>
            </setting>
            <setting name="last_chatcode" serializeAs="String">
                <value/>
            </setting>
        </inChat.My.MySettings>
    </userSettings>
</configuration>
